<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<h2>API Request</h2>
<div style="background-color:black; color:white">
  <%= @order.api_request.body if @order.api_request.present? %>
</div>
</br>

<h2>API Response</h2>
<p>Body</p>
<div style="background-color:black; color:white">
  <%= @order.api_response.body if @order.api_response.present? %>
</div>
</br>

<h2>Callback Response</h2>
<p>Body</p>
<div style="background-color:black; color:white">
  <%= @order.callback_response.body if @order.callback_response.present? %>
</div>
</br>

<%= link_to 'Back', orders_path %>
